---
const {
  imagen,
  imagenName,
  titulo,
  tecnologia1,
  tecnologia2,
  tecnologia3,
  tecnologia4,
  link,
} = Astro.props;
---

<div class="w-full">
  <div
    class="w-full bg-gray-300 rounded-lg md:h-auto md:w-auto dark:bg-gray-600"
  >
    <img
      class="w-full h-full object-cover rounded-lg"
      src={imagen}
      alt={imagenName}
    />
  </div>
  <div class="mt-3">
    <h4 class="text-gray-900 text-2xl mt-4 mx-2 dark:text-white">
      {titulo}
    </h4>
    <div class="flex flex-wrap gap-2 mt-4 mx-2">
      <img src={tecnologia1} />
      <img src={tecnologia2} />
      <img src={tecnologia3} />
      <img src={tecnologia4} />

    </div>
    <a
      class="mt-4 mx-2 inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900 dark:text-blue-50 dark:transition-colors dark:hover:text-blue-200 dark:hover:bg-gray-700"
      href={link}
      target="_blank"
      rel="noopener noreferrer"
    >
      Ver mas
    </a>
  </div>
</div>
